<nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href=<%= "/topics/#{@the_article.topic_id}"%>>Topic</a></li>
    <li class="breadcrumb-item active" aria-current="page">Article</li>
  </ol>
</nav>

<h1>
  <%= @the_article.title %>
</h1>

<div class="card">
  <div class="card-body">
    <%= @the_article.summary %>
  </div>
</div>

<article>
  <ol>
    <% @list_of_sections.each do |section| %>
      <li>
        <%= section.name %>
      </li>
    <% end %>
  </ol>
</article>
