<h1>
  List of all topics
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new topic
    </h2>
  </header>

  <form action="/insert_topic" method="post">
    <div>
      <label for="name_box">
        Name
      </label>

      <input type="text" id="name_box" name="query_name">
    </div>

    <div>
      <label for="description_box">
        Description
      </label>

      <input type="text" id="description_box" name="query_description">
    </div>

    <div>
      <label for="user_id_box">
        User
      </label>

      <input type="text" id="user_id_box" name="query_user_id">
    </div>

    <button type="submit">
      Create topic
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_topics.each do |a_topic| %>
      <li>
        <a href="/topics/<%= a_topic.id %>">
          Topic #<%= a_topic.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
